* {
    font-family: Consolas, sans-serif;
    box-sizing : border-box;
}

h1 {
    font-size : 175%;
    text-align: center;
    font-weight: bold;
}

.container-1 {
    border: 1px solid black;
    height: 300px;
    margin : 20px ;
    margin-bottom :  40px;
    /* padding: 10px; */
    background-color:aquamarine;
    position: relative;
    overflow: hidden;
    
}

.container-2 {
    border: 1px solid black;
    height: 300px;
    margin : 20px;
    margin-bottom :  40px;
    /* padding: 10px; */
    background-color: aquamarine;
    position: relative;
    overflow : hidden;
    
}
.container-3 {
    border: 1px solid black;
    height: 300px;
    margin : 20px;
    margin-bottom :  40px;
    /* padding: 10px; */
    background-color: aquamarine;
    position: relative;
    overflow : hidden;
    
}

.sectionTitle-1 {
    font-size: 125%;
    text-align: center;
    width: 100px;
    height : 30px;
    position: absolute;
    top : -1px;
    right: -1px;
    border: 1px solid black;
    background-color: palevioletred;
}

.sectionTitle-2 {
    font-size: 125%;
    color: white;
    text-align: center;
    width: 100px;
    height : 30px;
    position: absolute;
    top : -1px;
    right: -1px;
    border: 1px solid black;
    background-color: red;
}

.sectionTitle-3 {
    font-size: 125%;
    text-align: center;
    width: 100px;
    height : 30px;
    position: absolute;
    top : -1px;
    right: -1px;
    border: 1px solid black;
    background-color: yellow;
}

.sectionContent {
    font-size: 16px;
    margin-top: 35px; 
    /* margin-bottom:10px */
    padding: 10px;
    text-align: left;
    position: relative;
    max-height: 250px;
    overflow : auto;
    
}

.credit {
    clear: both;
    text-align: center;
    
}


@media (min-width : 992px)
{
    .container-1{
        float : left;
        width: calc(33.33% - 40px);
    }
    .container-2 {
        float : left;
        width: calc(33.33% - 40px);
    }
    .container-3 {
        float : left;
        width: calc(33.33% - 40px);
    }
}

@media (min-width : 768px) and (max-width : 991px){
    .container-1{
        float : left;
        width: calc(50% - 40px);
    }
    .container-2 {
        float : left;
        width: calc(50% - 40px);
    }
    .container-3 {
        clear: both;
        width: calc(100% - 40px);
    }
}

@media (max-width : 767px)
{

}

















